
body {
    margin: 0;
    padding: 0;
    font-family: "Arial", sans-serif;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  }
  
  /* Center content */
  .App {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  /* Heading styles */
  h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    transition: color 0.3s ease-in-out;
  }
  
  /* Button styling */
  button {
    padding: 12px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    border-radius: 25px;
    transition: all 0.3s ease-in-out;
  }
  
  /* Light mode button */
  .light-mode button {
    background-color: #000;
    color: #fff;
  }
  
  /* Dark mode button */
  .dark-mode button {
    background-color: #fff;
    color: #000;
  }
  
  /* Hover effect */
  button:hover {
    transform: scale(1.05);
    opacity: 0.8;
  }
  